---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Ryan DuPerow's Blog" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100">
		<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
			<header class="py-8">
				<nav class="flex space-x-4">
					<a href="/" class="text-accent hover:text-accent-dark">Home</a>
					<a href="/about" class="text-accent hover:text-accent-dark">About</a>
					<a href="/blog" class="text-accent hover:text-accent-dark">Blog</a>
				</nav>
			</header>
			<main>
				<slot />
			</main>
			<footer class="mt-8 py-4 text-center text-sm">
				<p>&copy; {new Date().getFullYear()} Ryan DuPerow. All rights reserved.</p>
			</footer>
		</div>
	</body>
</html>